@tailwind base;
@tailwind components;
@tailwind utilities;

.landingPage-bg{
  background: linear-gradient(107.56deg, #0C3148 0%, #3E9FBD 100%);
}

.scanPage-bg{
  background: linear-gradient(107.56deg, #F38300 0%, #F9B600 100%);
}

.historyPage-bg{
  background: linear-gradient(177.08deg, #0C3148 2.35%, #3E9FBD 97.57%);
}

.profilePage-bg{
  background: linear-gradient(90deg, #F38300 0%, #F9B600 100%);
}
